body{
	background-color:#2F4F4F;
}
.mainPage{
	width:1200px;
	margin-top:0;
	margin-right:auto;
	margin-bottom:auto;
	margin-left:auto;
}
.header{
	width:100%;
	height:80px;
	background-color:#4169E1;
	margin:0;
}
    .logo{
    	font-size:25px;
    	width:100%;
    	height:25px;
    	position:relative;
    	top:50px;
    	left:110px;

    }
    
.header li{
	display:inline;
	font-family:宋体;
	font-size:14px;
	margin:0 14px 0 14px;
	position:relative;
	left:866px;
	top:15px;
}
.ICON{
	position:absolute;
	right:120px;
}
.banner{
    background-image:url(00005.jpg);
    background-size:100% 100%;
    width:1200px;
    height:400px;
    position:relative; 
}
.section{
	background-color:white;
	width:300px;
	min-height:100px ;
	filter:alpha(opacity=50);
	opacity:0.5;
	position:absolute;
	right:110px;
	bottom:0;
}
.section h2{
	font-size:14px;
	padding:10px 10px 2px 242px;
	margin:0;
}
.section p{
	font-size:12px;
	padding:10px 10px 30px 10px;
	line-height:150%;
	margin:0;
}
div.container{
	background-color:#E0E6FA;
	width:100%;
	min-height:500px;
	position:relative;
}
.db1{
	background-color:white;
	width:320px;
	min-height:350px;
	position:absolute;
	top:10px;
	left:110px;

}
.db2{
	background-color:white;
	width:320px;
	min-height:350px;
	position:absolute;
	top:10px;
	left:440px;
}
.db3{
	background-color:white;
	width:320px;
	min-height:350px;
	position:absolute;
	top:10px;
	left:770px;
}
.container img{
	width:300px;
	height:180px;
	position:relative;
	top:10px;
	left:10px;

}
.container p{
	font-size:12px;
	line-height:170%;
	padding:15px 30px 30px 25px;

}

.article{
	background-color:white;
	text-align:center;
	position:relative;
	min-height:300px;
}
.article img{
	width:160px;
	height:160px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:520px;
}
.article h3{
	font-family:Century Gothic;
	font-size:20px;
	margin:0;
	position:relative;
	top:160px;
}
.article p{
	width:600px;
	font-size:14px;
	line-height:150%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0;
	position:relative;
	top:160px;
}
.footer{
	background-color:black;
	border-bottom:solid grey;
	height:28px;

}
.footer li{
    display:inline;
    font-family:宋体;
	font-size:14px;
	color:white;
	margin:10px 14px 10px 14px;
	position:relative;
	left:488px;
	top:3px;


}


